- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")

    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}

    title REST Charts
  body
    div I'm here!
