@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

.example {
  a:hover {
    text-decoration: none;
  }
}

.margin-vert-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-vert-large {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-vert-xlarge {
  margin-top: 50px;
  margin-bottom: 50px;
}

.small-width {
  max-width: 600px;
}

.header {
  margin-top: 50px;
}

.card {
  code {
    max-width: 100%;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.wrap-always {
      white-space: normal;
      word-break: break-all;
    }

    &:hover {
      word-break: break-all;
      white-space: normal;
      overflow: visible;
    }
  }

  .card-block {
    padding: 0.7rem;
  }
}

.chart-example {
  // background-repeat: 'no-repeat';
  // background-position: 'bottom';
  // background-size: 'contain';

  &.card-img-top {
    max-height: 150px;
    background: #f8f8f8;
  }

  &.large-img-top {
    max-height: 400px;
  }
}
